<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="example">
        radio value bindings demo
        <br>
        <input type="radio" v-model="pick" v-bind:value="a">
        <input type="radio" v-model="pick" v-bind:value="b">

        <br>
        <pre>{{ pick }}</pre>
    </div>
    <script>
    var vm = new Vue({
        el: '#example',
        data: {
            pick: '',
            a: '台湾',
            b: '小凡'
        }
    })
    </script>
</body>

</html>
